<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681747576020-2mbnv6b4prsimo1c9qpordbvpbmfhkte.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681747576020-2mbnv6b4prsimo1c9qpordbvpbmfhkte</string>
	<key>API_KEY</key>
	<string>AIzaSyBXpUkErTf5npo09elF_Wz6wXb_rDU91eE</string>
	<key>GCM_SENDER_ID</key>
	<string>681747576020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jchang.GolfNotes</string>
	<key>PROJECT_ID</key>
	<string>golfnotes-cd074</string>
	<key>STORAGE_BUCKET</key>
	<string>golfnotes-cd074.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681747576020:ios:aa88f629996287f3bbf741</string>
</dict>
</plist>